*
{
	box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body
{
	color: white;
	text-align: center;
	background: linear-gradient(-120deg, red, purple);
	/*background-size: 400% 400%;
	animation: gradient 3s ease infinite;*/
}
@keyframes gradient
{
	0% { background-position: 0% 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0% 50%; }
}

.header
{
	border: 10px solid white;
	background: linear-gradient(120deg, lightblue, purple);
	background-size: 400% 400%;
	animation: gradient 3s ease infinite;
	color: white;
	font-size: 38px;
	height: auto;
	margin: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	cursor: pointer;
}

.about h2 { transition: font-size 1s ease-in-out; margin: 10px; font-size: 50px;}
.about:hover h2 { font-size: 30px;}
.about  p {transition: font-size 1s ease-in-out; font-size: 0px; margin:5px;}
.about:hover  p { font-size: 1.1em;}
.about
{
	border: 5px solid white;
	border-radius: 20px;
	background: linear-gradient(120deg, purple, red);
	background-size: 400% 400%;
	animation: gradient 3s ease infinite;
	text-align: center;
	padding-bottom: 10px;
	margin: 10px;
	width: auto;
	height: auto;
	cursor: pointer;
	align-self: center;
}

.footer
{
	border: 5px solid white;
	background: linear-gradient(120deg, lightblue, purple);
	background-size: 400% 400%;
	animation: gradient 3s ease infinite;
    color: white;
    padding-bottom: 5px;
    height: 30px;	
    margin-top: 10px;
    clear: both;
}
